
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TEST</title>
</head>
<body>
    <img src="~/Content/Images/unnamed.jpg" width="1200" height="820" />
</body>
</html>
